@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12rem;
}

.box {
  background-color: #b6ccda;
  border-radius: 15px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding-top: 2rem;
}

.header ul {
  display: flex;

  li {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    align-items: center;
  }

  li:hover {
    cursor: pointer;
  }

  li:nth-child(4) {
    background-color: white;
    color: #b6ccda;
    border-radius: 100px;
    padding: 0rem 2rem;
  }
}

.logo {
  padding-left: 25px;
  scale: 2;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-right: 30px;
}

.Main {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: -20px;
}

.MainLeft {
  grid-column: 1;
  grid-row: 1;
  padding-left: 2rem;
  padding-top: 8rem;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 300;
    max-width: 500px;
  }

  button {
    border-radius: 100px;
    border: 3px solid white;
    padding: 1rem 4rem;
    font-size: 1rem;
    margin-top: 4rem;
  }

  button:hover {
    background-color: white;
    color: #b6ccda;
  }
}

.MainMiddle {
  grid-column: 2;
  grid-row: 1;
  margin-top: 3rem;
  display: flex;

  img {
    width: 100%;
    scale: 0.9;
  }
}

.MainRight {
  grid-column: 3;
  margin-top: 14rem;
}

.LowerLeft {
  grid-column: 1;
  grid-row: 2;
  margin-top: 1rem;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  .images_flex {
    display: flex;
    gap: 3rem;
    margin-right: 80px;
    position: relative;
  }
}

.lower_img {
  position: relative;
}

span {
  position: absolute;
  width: 120px;
  height: 70px;
  border-radius: 15px;
  top: 2rem;
  left: -1rem;

  &:nth-child(1) {
    background-color: #434558;
  }

  &:nth-child(2) {
    background-color: #6addcc;
    left: 7.5rem;
  }

  &:nth-child(3) {
    background-color: #f9cdc4;
    left: 16rem;
  }
}
